.navbarList__item{
  position: relative;
  width: max(7rem, 10vw);
  padding: max(0.5rem, 3vh);
  border: solid 0.19rem var(--clr-neonSkyBlueLights);
  text-align: center;
  border-radius: 0.5rem;
  background-color: rgb(0, 0, 0, 0.7);
  box-shadow: inset 1px 1px 1px 1px var(--clr-neonSkyBlueDark),
  inset 2px 2px 15px var(--clr-neonSkyBlue),
  inset -1px -1px 1px 1px var(--clr-neonSkyBlueDark),
  inset -2px -2px 15px var(--clr-neonSkyBlue), 1px 1px 1px 1px var(--clr-neonSkyBlueDark),
  2px 2px 15px var(--clr-neonSkyBlue),
  -1px -1px 1px 1px var(--clr-neonSkyBlueDark),
  -2px -2px 15px var(--clr-neonSkyBlue); 
  transition: 0.5s ease-in;
  animation:  flicker 5s ease-in-out infinite;
  z-index: 3;
}

.navbarList__item::before{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-101%) translateY(-50%);
  content: "";
  width: 200%;
  height: 0.05rem;
  border: solid 0.01rem var(--clr-neonSkyBlue);
  border-radius: 0.5rem ;
  animation: flicker 5s ease-in-out infinite;
  z-index: 2;
}

.navbarList__item--translateX-100::before{
  transform: translateX(101%) translateY(-50%);
  right: 0;
  left: auto;
}

/* animation */
@keyframes flicker{
  0%,50%,100%{
    box-shadow: inset 1px 1px 1px 1px var(--clr-neonSkyBlueDark),
        inset 2px 2px 15px var(--clr-neonSkyBlue),
        inset -1px -1px 1px 1px var(--clr-neonSkyBlueDark),
        inset -2px -2px 15px var(--clr-neonSkyBlue), 
  
        1px 1px 1px 1px var(--clr-neonSkyBlueDark),
        2px 2px 15px var(--clr-neonSkyBlue),
        -1px -1px 1px 1px var(--clr-neonSkyBlueDark),
        -2px -2px 15px var(--clr-neonSkyBlue); 
    border: solid 0.19rem var(--clr-neonSkyBlueLights) ;
  }
  10%,30%,80%{
    box-shadow: inset 0px 0px 0px 0px var(--clr-neonSkyBlueDark),
        inset 0px 0px 0px var(--clr-neonSkyBlue),
        inset -0px -0px 0px 0px var(--clr-neonSkyBlueDark),
        inset -0px -0px 0px var(--clr-neonSkyBlue), 

        0px 0px 0px 0px var(--clr-neonSkyBlueDark),
        0px 0px 0px var(--clr-neonSkyBlue),
        -0px -0px 0px 0px var(--clr-neonSkyBlueDark),
        -0px -0px 0px var(--clr-neonSkyBlue); 
    border: solid 0.19rem #dfdfdf ;
    opacity: 0.7;
  }
  20%,45%,90%{
    box-shadow: inset 1px 1px 1px 1px var(--clr-neonSkyBlueDark),
        inset 2px 2px 20px var(--clr-neonSkyBlue),
        inset -1px -1px 1px 1px var(--clr-neonSkyBlueDark),
        inset -2px -2px 20px var(--clr-neonSkyBlue), 

        1px 1px 1px 1px var(--clr-neonSkyBlueDark),
        2px 2px 20px var(--clr-neonSkyBlue),
        -1px -1px 1px 1px var(--clr-neonSkyBlueDark),
        -2px -2px 20px var(--clr-neonSkyBlue); 
    border: solid 0.19rem #bff3f7 ;
    filter: saturate(200%) hue-rotate(20deg);
    opacity: 0.9;
  }
}

@media (orientation: landscape) {
  .navbarList__item {
    padding: max(0.5rem, 2vh);
  }
}

/* 700px */
@media screen and (min-width: 43.75rem) {
  .navbarList__item{
    width: 5rem;
    padding: 0.5rem;
  }

  .navbarList__item::before{
    width: 0.05rem;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateY(-102%) translateX(-50%);
  }

  .navbarList__item--translateX-100::before{
    transform: translateY(102%) ;
    bottom: 0;
    top: initial;
  }
}